{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Login Here</h1>
        <form class="" method="POST">
          {{form.hidden_tag()}}
          <div class="mb-3">
          {{form.email.label(class="form-label")}}{{form.email(class='form-control')}}
          </div>
          <div class="mb-3">
          {{form.password.label(class="form-label")}}{{form.password(class='form-control')}}
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>
      </div>
    </div>



{% endblock %}
